.jumbotron
{
    margin-bottom:0px;
    background-image: url("https://image.freepik.com/free-vector/e-commerce-icon-robotic-hand-internet-shopping-online-purchase-add-cart_127544-586.jpg");
    background-size: 100% 100%;
    height:400px;
    
    
}

.fa-heart, .fa-lightbulb, .fa-star
{
    color:rgb(230, 71, 53);  /*rgb(1, 40, 77);*/
    font-size: 30px;
}

.about_txt
{
    color:rgb(1, 40, 77);  /*rgb(1, 40, 77);*/
    font-size: 30px;
}

p
{
    /*font-size: small;*/
    font-size: medium;
}